@font-face {
   font-family: poppins;
   src: url(Poppins-SemiBold.woff);
}

body {
  background-color: yellow;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
 /*  vertical-align: middle; - removed due to "Display:block" being present */
}

.container {
  max-width: 1200px ;
  padding: 30px 24px;
  margin: 0 auto;
  background-color: purple;
}

.tile-container, .navigation {
  margin-left: 0;
  margin-right: 0;
 
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}


.tile-wrapper {
 container-type: inline-size;

  
  
}



/* Default heading styles for the card title */

/* WORKING ON THIS - Container query for resizing text - flip */
/* Need to test using CQW to make the text resize auto rather than breakpoints. will be smoother. */
 /*@container (inline-size > 123px) {
  .tile-wrapper .tile-game-title {
    font-size: 16px;
    bottom: 10px;
    color : #e3ee00; 
  }
} 
@container (inline-size > 152px) {
  .tile-wrapper .tile-game-title {
    font-size: 18px;
    bottom: 15px;
    color : #00e3ee; 
  }
} 
@container (inline-size > 173px) {
  .tile-wrapper .tile-game-title {
    font-size: 22px;
    bottom: 20px;
    color : #16fb47; 
  }
} */

.tile-game-title {
  /* NEED TO ALIGN TEXT DIV IN CENTRE SOMEHOW */
  font-family: poppins;
  width:100%;
  max-width: 200px;
  position: absolute;
  bottom: 1.5cqh;
  text-align: center;
  color : white;
  /* font-weight: semi-bold;*/
  z-index: 3;
  font-size: 12cqw;
  
}


.tile-bg {
  border-radius: 16px 16px 16px 16px; 
  overflow: hidden;
  max-width: 200px;
}

/* .tile-shadow {
  position: absolute;
  left: 150px;
  bottom: 150px;
  width: auto;
  height: auto;
  z-index: 1;
  border-radius:0 0 20px 20px;
  background-image: radial-gradient(118.34% 100% at 50.29% 100%, #000000 11.03%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
  color: white;
}
*/
.tile-frame {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}


.navigation {
  position:relative;
  margin-top: 50px;
}
