body {
  background-color: yellow;;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
 /*  vertical-align: middle; - removed due to "Display:block" being present */
}

.container {
  max-width: 1248px;
  padding: 30px 24px;
  margin: 0 auto;
  background-color: purple;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* this was missing */
.tile-wrapper {
  container-type: inline-size;
  max-width: 200px;
}



/* Default heading styles for the card title */

/* WORKING ON THIS - Container query for resizing text - flip */
/* If the container is larger than 700px */
@container (min-width: 20px) {
  .tile-game-title  {
    font-size: max 10em + 2cqi;
  }
}

.tile-game-title {
  width:100%;
  max-width: 200px;
  position: absolute;
  bottom: 26px;
  text-align: center;
  color : white;
  font-weight: semi-bold;
  z-index: 3;
  font-size: 2em;
}


.tile-bg {
  border-radius: 20px 20px 20px 20px; 
  overflow: hidden;
  width: auto;
}

.tile-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: auto;
  height: auto;
  z-index: 1;
  border-radius:0 0 20px 20px;
  background-image: radial-gradient(118.34% 100% at 50.29% 100%, #000000 11.03%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
  color: white;
}

.tile-frame {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}





.navigation {
  position:relative;
  margin-top: 50px;
}
